body{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
   

}
body img{
    position:relative;
   
   left:30%; 
    align-items: center;
    height: 100px;
    width: 100px;

    border-radius: 50px;
    flex-wrap: wrap;
    
}
.body1{
 background-color: beige;
 height: 400px;
 width: 400px;
 justify-content: center;
 align-items: center;
 display: flex;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 border-radius: 25px;

}
.body1 h2{
position: relative;
bottom: 25px;
left: 30px;
font-weight: bolder;
flex-wrap: wrap;



}
.main{
    position:relative;
    bottom: 40px;
    left: -20px; ;
    
}
/* .login{
    position:relative;
    bottom: 50px;
    
} */
#username{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(220, 244, 236);
    flex-wrap: wrap;
}
#email{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(220, 244, 236);
    flex-wrap: wrap;
}
.country{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(220, 244, 236);
    flex-wrap: wrap;

}
.button{
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    background-color: rgb(220, 244, 236);
    flex-wrap: wrap;
}
